{% extends 'layouts/base.html' %} {% load static %} {% block title %}Validate
Page{%endblock %} {%block main_content%}
<section id="contact" class="contact mt-3">
  <div class="container mt-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          List Of URL Validate JSON
        </li>
      </ol>
    </nav>
    <h2>Validate JSON</h2>
  </div>
    <div class="row m-5">
        <div class="col-md-8 text-center">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Url Path</th>
                    <th scope="col">Date Modified</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in data.data %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.url_path }}</td>
                            <td>{{ item.dt_modified }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="/detail{{ item.url_path }}" type="button" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                                    <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                    <span class="url-path" style="display:none;">{{ item.url_path }}</span>
                                  </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</section>
  <hr />
  <script>
    $(document).ready(function () {
      $('.btn-danger').click(function () {
        var urlPath = $(this).closest('tr').find('.url-path').text();
        var confirmation = confirm('Apakah Anda yakin ingin menghapus data dengan URL Path: ' + urlPath + '?');
        
        if (confirmation) {
          deleteData(urlPath);
        }
      });

      function deleteData(urlPath) {
        console.log(urlPath);
        let urlP = 'http://api-python.digitalevent.id/delete' + urlPath + '/'
        
        console.log(urlP);
        $.ajax({
          type: 'DELETE',
          url: urlP ,
          data: {
            url_path: urlPath,
          },
          success: function (data) {
            alert('Data berhasil dihapus');
            location.reload(); // Refresh halaman setelah penghapusan data
          },
          error: function (error) {
            alert('Gagal menghapus data. Periksa konsol untuk informasi lebih lanjut.');
            console.error(error);
          }
        });
      }
    });
  </script>
  {% endblock %}
</section>
