{% extends 'layouts/base.html' %} {% load static %} {% block title %}Validate
Page{%endblock %} {%block main_content%}
<section id="contact" class="contact m-5">
    <div class="row">
        <div class="col-md-8 text-center">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Url Path</th>
                    <th scope="col">Date Modified</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in data.data %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.url_path }}</td>
                            <td>{{ item.dt_modified }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="/detail{{ item.url_path }}" type="button" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                                    <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                  </div>
                            </td>
                        </tr>
                    {% endfor %}
                  
                  {% comment %} <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr> {% endcomment %}
                </tbody>
              </table>
        </div>
    </div>
  
</section>
  <hr />
  {% endblock %}
</section>
